<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Room</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>
  <body>
    <img id="frame">
    <script type="text/javascript">
      var ws = new WebSocket(location.href.replace('http', 'ws').replace('room', 'ws') + '/browser');
      var id;

      ws.onopen = function(event) {
        console.log('WebSocket connection OPENED');
        //getFrame();
        //id = setInterval(getFrame, 2000);
      };

      ws.onmessage = function(msg) {
        var data = JSON.parse(msg.data);

        if (data.msg === 'frame') {
          var img = document.getElementById("frame");
          img.src = 'data:image/png;base64,' + data.frame;
          img.onload = getFrame;
        } else if (data.msg === 'lj') {
          getFrame();
        } else {
          console.log('unknown message', msg);
        }
      };

      ws.onclose = function(event) {
        console.log('WebSocket connection CLOSED');
        //clearInterval(id);
      };

      ws.onerror = function(err) { 
        console.log('WebSocket connection ERROR', err); 
      };

      function getFrame() { 
        ws.send(JSON.stringify({ msg: 'frame', get: true }));
      }
    </script>
  </body>
</html>
